@import "../../assets/variebles.scss";

.success__block {
  padding-bottom: 160px;
  text-align: center;
}

.success__header {
  margin-bottom: 50px;
  font-size: 48px;
  font-family: $font-family;
}
