$font-family: 'Nunito', sans-serif;
$normal-text-weight: 400;

$primiry-color: #F4E041;
$secondary-color:#00BDD3;
$background_color:#F8F8F8;
$hover-color:#FFE302;
$disable-color:#B4B4B4;
$color-white: #FFFFFF;
$form-color:#7E7E7E;
$primiry-text-color:rgba(0, 0, 0, 0.87);